In [1]:
"""
Created on Thursday Apr 6 11:21:12 2017

@author: Batul Zamin
"""

'\nCreated on Thursday Apr 6 11:21:12 2017\n\n@author: Batul Zamin\n'

In [25]:
# import statements
import pandas as pd
import numpy as np
import scipy.sparse as sp
from scipy.sparse.linalg import svds
from sklearn import cross_validation as cv
from sklearn.metrics import mean_squared_error
from math import sqrt

In [118]:
# reading the data
header1 = ['user_id', 'item_id', 'rating', 'timestamp']
df_data = pd.read_csv('ml-100k/u.data', sep='\t', names=header1)
header2 = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
df_user = pd.read_csv('ml-100k/u.user', sep='|', names=header2)
header3 = ['movie_id', 'movie_title', 'release_date', 'video_release_date', 'IMDb_URL', 'unknown', 'Action', 'Adventure',
           'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
           'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
df_item = pd.read_csv('ml-100k/u.item', sep='|', names=header3, encoding='latin-1')
df_genre = pd.read_csv('ml-100k/u.genre')

In [27]:
n_users = df_data.user_id.unique().shape[0]
n_items = df_data.item_id.unique().shape[0]
print('Number of users = ' + str(n_users) + ' | Number of movies = ' + str(n_items))

Number of users = 943 | Number of movies = 1682

In [28]:
train_data, test_data = cv.train_test_split(df_data, test_size=0.25)

In [29]:
#Create two user-item matrices, one for training and another for testing
train_data_matrix = np.zeros((n_users, n_items))
for line in train_data.itertuples():
    train_data_matrix[line[1]-1, line[2]-1] = line[3]  

test_data_matrix = np.zeros((n_users, n_items))
for line in test_data.itertuples():
    test_data_matrix[line[1]-1, line[2]-1] = line[3]

## SVD

In [32]:
#get SVD components from train matrix. Choose k.
u, s, vt = svds(train_data_matrix, k = 20)
s_diag_matrix=np.diag(s)
X_pred = np.dot(np.dot(u, s_diag_matrix), vt)

In [30]:
# rmse function
def rmse(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten() 
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction, ground_truth))

In [33]:
print('User-based CF MSE: ' + str(rmse(X_pred, test_data_matrix)))

User-based CF MSE: 2.729144590827228

In [36]:
pd.DataFrame(X_pred).head()

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,3.464699,1.753597,0.748777,3.660735,0.676903,0.675749,3.314681,3.322994,3.503316,0.942290,...,-0.017823,0.022305,-0.010217,-0.006811,0.048006,-0.001066,-0.003198,-0.002132,0.0,0.045136
1,1.966158,-0.006043,0.039508,0.037362,-0.133284,0.213839,1.328381,0.485678,1.644366,0.478464,...,-0.004890,-0.004848,-0.012862,-0.008575,-0.008246,0.005899,0.017697,0.011798,0.0,-0.025598
2,0.220115,0.016391,0.192779,0.020930,-0.019394,-0.014254,0.081044,-0.099332,-0.288838,0.037564,...,0.005125,-0.000617,0.017585,0.011723,-0.012428,0.010292,0.030877,0.020584,0.0,-0.005591
3,0.041644,-0.042685,0.054059,0.070522,0.187286,-0.014718,0.069777,0.025522,-0.000405,-0.127153,...,0.005162,-0.005734,0.002550,0.001700,0.003807,0.003247,0.009740,0.006493,0.0,-0.006006
4,2.193036,0.927787,0.448958,1.400240,0.483124,-0.030250,1.819327,1.183655,-1.446971,0.314388,...,-0.020805,-0.002277,-0.044926,-0.029951,-0.013388,0.000443,0.001329,0.000886,0.0,0.001063

## Predict the ratings for one user

In [122]:
u = input()

940

In [124]:
user = X_pred[int(u)]

In [221]:
rec_movie = sorted(user, reverse=True)

In [223]:
rec_movie[:10]

[2.2388220733601134,
 2.2349730132227581,
 2.1176522494341392,
 1.733800083917526,
 1.6563490768399076,
 1.6037703185183494,
 1.5744030232045685,
 1.4595028892643374,
 1.406534246792529,
 1.3017582002165367]

## Comparison of watched and recommended top 10 movies

In [188]:
watched_movie_index = list(df_data.item_id[df_data.user_id==int(u)])

In [194]:
watched_movie_title = []
for i in watched_movie_index:
    watched_movie_title.append(list(df_item.movie_title[df_item['movie_id'] == i+1]))

In [213]:
df1 = pd.DataFrame(columns=['watched'])
for i in watched_movie_title:
    df1.loc[-1] = i
    df1.index += 1
df1 = df1.reset_index(drop=True)

In [182]:
indexes = []
count = 0
for i in rec_movie:
    ind = list(zip(*np.where(X_pred == i)))
    if len(ind) > 1:
        indexes.append(ind[count])
    else:
        indexes.append(ind[0])

In [186]:
rec_movie_index = [indexes[i][1] for i in range(len(indexes)) if indexes[i][1] not in watched_movie_index]

In [196]:
rec_movie_title = []
for i in rec_movie_index[:10]:
    rec_movie_title.append(list(df_item.movie_title[df_item['movie_id'] == i+1]))

In [215]:
df2 = pd.DataFrame(columns=['recommended'])
for i in rec_movie_title:
    df2.loc[-1] = i
    df2.index += 1
df2 = df2.reset_index(drop=True)

In [220]:
pd.concat([df1, df2], ignore_index=True, axis=1).head(10)

                                   0                                1
0                  Sting, The (1973)                   Contact (1997)
1                        Wolf (1994)                 Star Wars (1977)
2          Mr. Holland's Opus (1995)        Return of the Jedi (1983)
3                       Akira (1988)            Twelve Monkeys (1995)
4                        Heat (1995)  Star Trek: First Contact (1996)
5                           M (1931)                 Liar Liar (1997)
6          As Good As It Gets (1997)                 Toy Story (1995)
7  Ace Ventura: Pet Detective (1994)                    Scream (1996)
8                Career Girls (1997)             Air Force One (1997)
9            Fierce Creatures (1997)              Men in Black (1997)